
.container {
  padding: 0 2rem;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
  font-size: 4rem;
}
.description {
  text-align: center;
}
.card {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
